.recovery-link {
  margin-top: 1rem;
  text-align: center;
  a {
    color: rgb(177, 177, 177);
    font-size: 1.3rem;
    &:hover {
      color: rgb(150, 150, 150);
    }
  }
}

.register-link {
  p {
    font-size: 1.5rem;
    text-align: center;
  }
  a {
    color: wheat;
    font-weight: 600;
  }
}
