.products {
  display: block;
  width: 100%;
  padding: 0;
  margin: 2rem 0;
  h1 {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 100px;

    color: #487b68cc;
  }
  .productsResults {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.list_product {
  position: relative;
  // width: 32.4333333333%;
  // margin-bottom: 1rem;
  // margin-right: 1rem;
  flex-basis: 32.5%;
  border: 1px solid bisque;
  background-color: #f9f9f9db;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .thumb {
    display: block;
    width: 100%;
    padding: 3rem 0rem 0;
    img {
      display: block;
      width: 100%;
      max-height: 25rem;
      object-fit: contain;
      margin: 0;
      position: relative;
      transition: all 0.2s ease;
      &:hover {
        transform: scale(1.01);
      }
    }
  }
  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1.5rem;
    width: 100%;
    margin: 0 auto;

    a {
      color: black;
    }

    .name {
      font-size: 1.6rem;
      line-height: 1.2;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.24);
    }

    .available {
      color: #00a046;
      font-size: 1.5rem;
    }

    .price {
      display: block;
      padding: 1rem 0;
      line-height: 1;
      font-weight: 400;
      padding-top: 0;
    }
    .previousPrice {
      text-decoration: line-through;
    }
  }
  .add-to-card {
    margin: 2rem 0 0 0;
    text-align: end;
    position: absolute;
    bottom: 1.5rem;
    right: 2rem;
    cursor: pointer;

    .add-to-card__link {
      color: #00a046;
      transition: all 0.2s ease;
      &:hover {
        transform: rotate(15deg) scale(1.1);
      }
    }
  }
  .top-sales-mark {
    position: absolute;
    top: 8px;
    left: 8px;
    line-height: 3rem;
    padding: 0 1.5rem;
    text-transform: uppercase;
  }

  .add-to-favorites {
    position: absolute;
    display: flex;
    align-items: center;
    top: 8px;
    right: 8px;
    color: rgba(45, 105, 83, 0.849);
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    padding: 4px;
    &:hover {
      color: rgb(71, 180, 67);
    }
  }
  .list-product__wrapper {
    flex-grow: 1;
  }
  .list-product__row {
    display: flex;
    align-items: center;
  }
  .list-product__wrapper--bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.list-product__wrapper {
  flex-grow: 1;
}
