.checkout {
  margin: 2rem auto;
  max-width: 110rem;
  padding: 1rem 0;
  background-color: #f9f9f9db;
  h1 {
    display: block;
    width: 100%;
    background: -webkit-linear-gradient(#05629b, #01e396);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h1,
  p {
    text-align: center;
  }

  .checkoutHeader {
    border-bottom: 1px solid #000;
  }

  .card {
    max-width: 100rem;
    margin: 0 auto;

    table {
      width: 100%;
      color: #4b4b4b;
    }
  }

  .checkoutHeader,
  .card {
    width: 100%;
    text-align: left;

    th,
    td {
      width: 17%;
      text-align: center;
    }
    td {
      font-size: 1.6rem;
    }

    .cardItem {
      td img {
        display: block;
        width: 100%;
        padding: 1rem;
      }
    }
  }

  .cardBtns {
    display: block;
    width: 100%;
  }

  .cardBtn {
    cursor: pointer;
  }
  .table-button {
    width: fit-content;
  }
  .table-button--checkout {
    float: right;
  }
}
