.header {
  border-bottom: 1px solid rgba(212, 212, 212, 0.678);
  background-color: white;
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
}

.header__row {
  display: flex;
  justify-content: space-between;
  height: 7rem;
}

.header__navigation {
  display: flex;
  ul {
    align-self: center;
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin: 0;

    a {
      color: black;
      &:hover {
        color: rgba(69, 42, 187, 0.767);
      }
    }
    li {
      text-transform: uppercase;
    }
  }
}

.logo-container {
  width: 70px;
  img {
    width: 100%;
  }
}

.user-panel {
  display: flex;
  ul {
    align-self: center;
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
    a {
      color: black;
      &:hover {
        color: rgba(69, 42, 187, 0.767);
      }
    }
  }
  li {
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
}

.user-panel__basket-link {
  position: relative;
  color: black;
}

.user-panel__number-goods {
  width: 15px;
  height: 15px;
  background-color: rebeccapurple;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -5px;
  color: white;
  text-align: center;
}

.header__navigation,
.user-panel {
  li {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      height: 1px;
      width: 0;
      transition: all 0.4s ease;
      bottom: -10px;
      left: 50%;
      background-color: rgba(100, 100, 100, 0.678);
    }
    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 0;
      transition: all 0.4s ease;
      bottom: -10px;
      right: 50%;
      background-color: rgba(100, 100, 100, 0.678);
    }

    &:hover::after,
    &:hover::before {
      width: 50%;
    }
  }
  span {
    cursor: pointer;
  }
}
