.header {
  border-bottom: 1px solid rgba(212, 212, 212, 0.678);
  background-color: white;
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
}

.header__row {
  display: flex;
  justify-content: space-between;
  height: 7rem;
  padding: 0 5px;
}

.header__navigation {
  display: flex;
  transition: all 0.4s ease;

  ul {
    align-self: center;
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin: 0;

    a {
      color: black;
      &:hover {
        color: rgba(69, 42, 187, 0.767);
      }
    }
    li {
      text-transform: uppercase;
    }
  }
}

.logo-container {
  width: 70px;
  img {
    height: 100%;
  }
}

.user-panel {
  display: flex;
  ul {
    align-self: center;
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
    align-items: center;
    a {
      color: black;
      &:hover {
        color: rgba(69, 42, 187, 0.767);
      }
    }
  }
  li {
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
}

.user-panel__basket-link {
  position: relative;
  color: black;
}

.user-panel__number-goods {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #e82c6c;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
  color: white;
  text-align: center;
}

.header__navigation,
.user-panel {
  li {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      height: 1px;
      width: 0;
      transition: all 0.4s ease;
      bottom: -10px;
      left: 50%;
      background-color: rgba(100, 100, 100, 0.678);
    }
    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 0;
      transition: all 0.4s ease;
      bottom: -10px;
      right: 50%;
      background-color: rgba(100, 100, 100, 0.678);
    }

    &:hover::after,
    &:hover::before {
      width: 50%;
    }
  }
  span {
    cursor: pointer;
  }
  .user-panel__menu-burger {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    .header__row {
      position: relative;
    }
    .header__navigation {
      position: absolute;
      right: 0;
      top: 7rem;
      width: 100%;
      z-index: 1;
      transform: translateX(100%);
      ul {
        display: flex;
        flex-direction: column;
        background-color: #d0d0d0;
        width: 100%;
        li {
          cursor: pointer;
          &:hover {
            background-color: #9c9c9c;
            border-bottom: none;
          }
          &:hover::after,
          &:hover::before {
            width: 0;
          }
          a {
            display: block;
            padding: 15px;
            &:hover {
              color: white;
            }
          }
        }
      }
    }
    .user-panel {
      .user-panel__menu-burger {
        display: block;
        &:hover::after,
        &:hover::before {
          width: 0;
        }
      }
    }
    .visible {
      transform: translateX(0);
    }
  }
}
