.product-mark {
  font-size: 1.8rem;
  width: fit-content;
  line-height: 3rem;
  padding: 0 1.5rem;
  background-color: rgba(241, 111, 35, 0.849);
  color: white;
  text-transform: uppercase;
}

.top-sales {
  background-color: rgba(45, 105, 83, 0.849);
}
.ends {
  background-color: rgba(179, 19, 19, 0.849);
}
