html {
  font-size: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
}
// * {
//   padding: 0;
//   margin: 0;
// }

html,
body,
#root,
.App,
.fullHeight {
  height: 100%;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a,
a:hover {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.main {
  width: 100%;
  height: calc(100% - 6.5rem);
  max-width: 1450px;
  padding: 0 10px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  line-height: 2rem;
  padding: 1rem 2rem;
  background-color: black;
  text-transform: uppercase;
  color: white;
  font-size: 1.2rem;
  &:hover {
    background-color: white;
    color: black;
  }
}

.mainLoyoutContent {
  background: linear-gradient(0.25turn, #383838, #9198e5);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  min-height: calc(100vh - 7rem);
}

.secondaryLoyoutContent {
  background: url(backgrounds/fon.jpg) left 0% top 0% / 60%;
  min-height: calc(100vh - 7rem);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

////// ADMIN PANEL

.controlPanel {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 100%;
  padding: 3rem 0 6rem 25rem;
  border-bottom: 1px solid #d3d3d3;

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 25rem;
    height: 100%;
    z-index: 1;
    border-right: 1px solid #d3d3d3;
  }

  .content {
    padding: 0 10px;
  }
}

.adminLayout {
  height: calc(100% - 6.5rem - 5.8rem - 3.6rem);
}

//////////////// ANIMATIONS

.fade-anim {
  position: relative;
  -webkit-animation: fadeAn 0.8s reverse; /* Chrome, Safari, Opera */
  -webkit-animation-delay: none; /* Chrome, Safari, Opera */
  animation: fadeAn 0.8s reverse;
  animation-delay: none;
}

@keyframes fadeAn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.transition-left-anim {
  position: relative;
  -webkit-animation: transitionLeft 0.8s reverse; /* Chrome, Safari, Opera */
  -webkit-animation-delay: none; /* Chrome, Safari, Opera */
  animation: transitionLeft 0.8s reverse;
  animation-delay: none;
}

@keyframes transitionLeft {
  from {
    transform: translate(0);
    opacity: 1;
  }
  to {
    transform: translate(-100%);
    opacity: 0;
  }
}

///// SOME

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

////variables

.text-alarm {
  font-size: 2.1rem;
  color: rgb(223, 95, 64);
}

.text-secondary {
  font-size: 1.5rem;
  color: rgb(172, 155, 151);
}
